.header_top {
    height: 40px;
    border-bottom: 1px solid #e5e5e5;
    background: #f4f4f4;
    color: #666;
    line-height: 40px;
    min-width: 1190px;
    position: relative;
    z-index: 400;
    .icons {
        background-image: url(img/icons.png);
        background-repeat: no-repeat;
    }
    li {
        position: relative;
        float: left;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
        z-index: 9997;
        i {
            float: left;
            display: block;
            margin: 10px 5px 10px 0;
            width: 20px;
            height: 20px;
        }
        s {
            float: left;
            display: block;
            margin: 10px 10px 10px 10px;
            width: 1px;
            height: 20px;
            border-right: 1px solid #e5e5e5;
            font-size: 0;
            overflow: hidden;
        }
        .wxbig {
            position: absolute;
            display: none;
            top: 40px;
            left: -80px;
            .pic {
                position: relative;
                width: 258px;
                height: 258px;
                background-image: url(img/icon_wx_big.jpg);
                background-repeat: no-repeat;
            }
            .txt {
                padding: 0 10px 5px;
                width: 238px;
                color: #666;
                text-align: center;
                font-family: "\5FAE\8F6F\96C5\9ED1";
            }
        }
        .appbig {
            display: none;
            position: absolute;
            top: 40px;
            left: -80px;
            .txt {
                padding: 0 10px 5px;
                width: 238px;
                color: #666;
                text-align: center;
                font-family: "\5FAE\8F6F\96C5\9ED1";
            }
            .pic {
                position: relative;
                width: 258px;
                height: 258px;
                background-image: url(img/icon_app_big.png);
                background-repeat: no-repeat;
            }
        }
    }
    .left {
        a {
            font-size: 12px;
        }
        width: 380px !important;
        float: left;
        padding-left: 5px;
        li {
            a {
                white-space: nowrap;
                height: 40px;
                line-height: 40px;
                float: left;
                display: block;
            }
        }
        #app:hover {
            .appbig {
                display: block;
            }
            a {
                color: #009926;
                text-decoration: underline;
            }
        }
        #weixin:hover {
            .wxbig {
                display: block;
            }
            a {
                color: #009926;
                text-decoration: underline;
            }
        }
        .fav {
            background-position: -2px -4px;
        }
        .wx {
            background-position: -49px -3px;
        }
        .app {
            background-position: -68px -3px;
        }
        .n {
            padding-left: 0;
        }
    }
    .right {
        a {
            font-size: 12px;
        }
        width: 785px !important;
        float: right;
        li {
            position: relative;
            float: right;
            width: 80px;
            .disa {
                display: block;
                float: left;
            }
            .line {
                position: absolute;
                bottom: -1px;
                left: 0;
                z-index: 10000;
                display: none;
                width: 100%;
                height: 1px;
                border-top: 0;
                border-bottom: 1px solid #fff;
            }
        }
        .entry_btn {
            background-color: #0cb95f;
            display: block;
            width: 69px;
            height: 22px;
            border-radius: 1px;
            line-height: 22px;
            text-align: center;
            color: #fff;
            margin-top: 9px;
            margin-right: 0;
            a {
                color: #fff;
                font-size: 12px;
            }
        }
        .dorpdown {
            background-position: -121px 1px;
            margin-right: 0;
        }
        .daohang:hover {
            border-right: 1px solid #ccc;
            border-left: 1px solid #ccc;
            background: #fff;
            a {
                color: #009926;
            }
            .other {
                display: block;
            }
            .line {
                display: block;
            }
            .dorpdown {
                background-position: -137px 1px;
            }
        }
        .daohang {
            position: relative;
            padding-left: 15px;
            margin-right: 15px;
            .other {
                background: #fff;
                border: 1px solid #ccc;
                position: absolute;
                right: -1px;
                top: 40px;
                z-index: 2;
                width: 450px;
                padding: 10px 0;
                line-height: 1.5;
                display: none;
                .item:nth-child(2) {
                    border-left: 1px solid #ccc;
                }
                .item {
                    padding-left: 20px;
                    display: inline-block;
                    width: 44%;
                    vertical-align: top;
                    text-align: left;
                    .h1 {
                        color: #0cb95f;
                        font-size: 14px;
                        padding: 0 0 5px 5px;
                    }
                    a {
                        display: inline-block;
                        vertical-align: top;
                        padding: 2px 5px;
                        color: #333;
                        font-size: 12px;
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .person {
            width: 95px;
            padding-left: 15px;
        }
        .person:hover {
            .menu_list {
                display: block;
                border-top: 1px solid #fff;
            }
            height: 41px;
            border-right: 1px solid #ccc;
            border-left: 1px solid #ccc;
            background: #fff;
            .disa {
                color: #009926;
                text-decoration: underline;
            }
            .dorpdown {
                background-position: -137px 1px;
            }
            s {
                display: none;
            }
        }
        .menu_list {
            position: absolute;
            top: 40px;
            left: -1px;
            z-index: 999;
            overflow: hidden;
            display: none;
            width: 96px;
            min-width: 100%;
            border: 1px solid #ccc;
            background: #fff;
            a {
                display: block;
                width: 100%;
                height: 30px;
                text-align: left;
                text-indent: 15px;
                line-height: 30px;
            }
        }
        #cart {
            width: 110px;
            padding-left: 15px;
            .cart {
                background-position: -88px -3px;
            }
            .green {
                float: none;
                display: inline;
                color: #0cb95f;
            }
        }
        #cart:hover {
            background: #fff;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            .line {
                display: block;
            }
            .cart_box {
                display: block;
            }
        }
        .cart_box {
            position: absolute;
            top: 40px;
            left: -1px;
            z-index: 9999;
            display: none;
            overflow: hidden;
            padding: 16px;
            width: 325px;
            border: 1px solid #ccc;
            background: #fff;
            text-align: left;
            line-height: 25px;
        }
        .fix {
            width: 190px;
            text-align: right;
            a {
                float: none;
                display: inline-block;
            }
            a:hover {
                color: #009926;
                text-decoration: underline;
            }
        }
    }
}

.appbig {
    z-index: 99999;
    border: 1px solid #e5e5e5;
    background: #fff;
}

.wxbig {
    z-index: 99999;
    border: 1px solid #e5e5e5;
    background: #fff;
}

.header {
    position: relative;
    z-index: 300;
    .container {
        height: 140px;
    }
    .logo {
        position: absolute;
        top: 32px;
        left: 10px;
        width: 330px;
        .name {
            width: 210px;
            height: 70px;
            display: block;
            float: left;
        }
    }
    .search {
        position: absolute;
        top: 39px;
        left: 340px;
        width: 550px;
        .hot_search {
            margin-top: 10px;
            margin-left: -1px;
            li {
                float: left;
                display: block;
                padding: 0 12px;
                height: 14px;
                line-height: 14px;
                border-left: 1px solid #ccc;
                a {
                    color: #999;
                    font-size: 12px;
                }
            }
            .highlight {
                a {
                    color: red;
                }
            }
            .noborder {
                border-left: 0;
            }
        }
    }
}

.search_input {
    position: relative;
    height: 542px;
    height: 36px;
    border: 2px solid #009926;
    line-height: 36px;
    .opt_list {
        position: absolute;
        left: 0;
        z-index: 998;
        overflow: hidden;
        width: 80px;
        height: 35px;
        border: 1px solid #e5e5e5;
        border-bottom: 0;
        background: #fff;
        li {
            height: 36px;
            line-height: 36px;
            a {
                display: block;
                padding: 0px 10px 0px 25px;
            }
            a:hover {
                background: #f4f4f4;
                text-decoration: underline;
                color: #009926;
            }
            i {
                position: absolute;
                top: 11px;
                right: 8px;
                width: 15px;
                height: 15px;
                background-image: url(img/icons.png);
                background-position: -109px 1px;
            }
        }
    }
    .opt_list:hover {
        height: auto;
        border-bottom: 1px solid #ccc;
    }
    .txt {
        float: left;
        margin-left: 82px;
        padding: 5px 12px;
        width: 350px;
        height: 26px;
        border: 0;
        line-height: 26px;
    }
    .submit {
        float: left;
        width: 90px;
        height: 38px;
        border: 0;
        background: #009926;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
    }
    .suggest {
        position: absolute;
        top: 38px;
        left: 80px;
        z-index: 1001;
        /* display: none; */
        width: 370px;
        border: 1px solid #e5e5e5;
        background: #fff;
        color: #333;
    }
}

.promise {
    position: absolute;
    top: 39px;
    right: 0;
    z-index: 0;
    width: 300px;
    a {
        float: right;
        width: 175px;
        height: 40px;
        background-image: url(img/icons.png);
        background-position: -88px -262px;
        display: block;
        margin-right: 10px;
    }
}

.nav2 {
    background: #fff;
    position: relative;
    z-index: 202;
    .container {
        height: 50px;
    }
    .mainnav {
        li {
            float: left;
            padding: 0 30px;
            height: 50px;
            line-height: 50px;
            a {
                font-size: 16px;
            }
            a:hover {
                text-decoration: underline;
                color: #009926;
            }
        }
        .category {
            padding: 0;
            padding-left: 20px;
            width: 210px;
            background: #0cb95f;
            color: #fff;
            a {
                color: #fff;
            }
            a:hover {
                text-decoration: underline;
                color: #fff;
            }
        }
        .home {
            padding: 0 50px 0 50px;
        }
    }
}

.catlist {
    display: block !important;
}

.catlist {
    height: 390px;
    width: 228px;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 1000;
    display: none;
    .maincat {
        background: #fff;
        z-index: 1001;
        position: absolute;
        left: 0;
        top: 0;
        width: 230px;
        opacity: 0.9;
        li {
            height: 45px;
            padding: 9px 0 10px 50px;
            border-bottom: 1px dashed #e5e5e5;
            position: relative;
            margin-left: 0;
            border-top: 0;
            border-left: 1px solid #e5e5e5;
            border-right: 1px solid #e5e5e5;
        }
        h2 {
            display: block;
            margin-bottom: 4px;
            font-weight: normal;
            font-size: 14px;
            height: 19px;
            line-height: 19px;
        }
        .sub {
            a {
                display: block;
                float: left;
                color: #999;
                height: 24px;
                line-height: 24px;
                font-size: 12px;
                margin-right: 10px;
            }
        }
        i {
            width: 24px;
            height: 24px;
            left: 16px;
            top: 14px;
            display: block;
            position: absolute;
            background-image: url(img/icons.png);
        }
        .zxyp {
            i {
                background-position: -132px -154px;
            }
        }
        .ylqx {
            i {
                background-position: -156px -154px;
            }
        }
        .ysbj {
            i {
                background-position: -180px -154px;
            }
        }
        .jsyp {
            i {
                background-position: -204px -154px;
            }
        }
        .zyyp {
            i {
                background-position: -252px -154px
            }
        }
        .mrhf {
            i {
                background-position: -228px -154px;
            }
        }
    }
    .subcat {
        width: 758px;
        position: absolute;
        left: 229px;
        top: 0;
        z-index: 1000;
        background: #f4f4f4;
        border: 1px solid #e5e5e5;
        min-height: 389px;
        padding: 0 10px;
        .sitems {
            padding: 0 45px 0 10px;
            width: 520px;
            float: left;
            li {
                border-bottom: 1px dotted #e1e1e1;
                overflow: hidden;
                padding: 10px 0 10px 95px;
                position: relative;
                a {
                    float: left;
                    margin: 5px 8px;
                    overflow: hidden;
                    height: 14px;
                    white-space: nowrap;
                    color: #666;
                    font-size: 12px;
                    line-height: 14px;
                }
                a:hover {
                    color: #009926;
                    text-decoration: underline;
                }
                .bit {
                    background: #0cb95f;
                    float: none;
                    height: 20px;
                    line-height: 20px;
                    left: 0;
                    padding: 0;
                    position: absolute;
                    top: 9px;
                    width: 73px;
                    padding-left: 5px;
                    color: #fff;
                    text-decoration: none;
                    label {
                        background-color: #0aa454;
                        display: block;
                        height: 20px;
                        width: 20px;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                    i {
                        background-image: url(img/icons.png);
                        background-position: -14px -21px;
                        right: 3px;
                        top: 0;
                        position: absolute;
                        height: 20px;
                        width: 14px;
                    }
                }
                .bit:hover {
                    color: #fff;
                    text-decoration: none;
                }
                .bit2 {
                    background: #ccc;
                    color: #fff;
                    float: none;
                    height: 20px;
                    line-height: 20px;
                    left: 0;
                    padding: 0;
                    position: absolute;
                    top: 15px;
                    width: 73px;
                    padding-left: 5px;
                }
            }
            .last {
                border-bottom: 0;
                height: 25px;
                .bit2 {
                    left: 432px;
                    margin: 0;
                    label {
                        background-color: #bbb;
                        display: block;
                        height: 20px;
                        width: 20px;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                    i {
                        background-image: url(img/icons.png);
                        background-position: -14px -21px;
                        right: 3px;
                        top: 0;
                        position: absolute;
                        height: 20px;
                        width: 14px;
                    }
                }
            }
        }
        .rmpp {
            padding: 15px 0 0 10px;
            width: 169px;
            float: left;
            .pp {
                a {
                    display: block;
                    float: left;
                    height: 40px;
                    width: 80px;
                    margin: 0 4px 4px 0;
                    border: 1px solid #eaeaea;
                    img {
                        height: 40px;
                        width: 80px;
                    }
                }
                .last {
                    margin-right: 0;
                }
            }
            .about {
                a {
                    display: block;
                    border: 1px solid #e5e5e5;
                    width: 166px;
                    height: 120px;
                    margin: 5px 0 9px;
                }
                img {
                    width: 166px;
                    height: 120px;
                }
            }
            .tj {
                border: 1px solid #eaeaea;
                margin-bottom: 15px;
                .h2 {
                    background: #fff none repeat scroll 0 0;
                    border-bottom: 1px dotted #eaeaea;
                    color: #666;
                    display: block;
                    font-size: 12px;
                    padding: 8px 10px 8px 14px;
                    text-align: left;
                    font-weight: bold;
                }
                h6 {
                    background: #fff none repeat scroll 0 0;
                    border-bottom: 1px dotted #eaeaea;
                    color: #666;
                    display: block;
                    font-size: 12px;
                    padding: 8px 10px 8px 14px;
                    text-align: left;
                    line-height: 16px;
                    font-weight: bold;
                }
                ul {
                    background: #fff;
                    padding: 5px 10px;
                    li {
                        float: left;
                        height: 28px;
                        line-height: 28px;
                        background-image: url(img/icons.png);
                        background-position: -490px -260px;
                        background-repeat: no-repeat;
                        color: #999;
                        padding-left: 18px;
                        a {
                            display: block;
                            height: 28px;
                            line-height: 28px;
                            overflow: hidden;
                            white-space: nowrap;
                            width: 131px;
                            font-size: 12px;
                            color: #666;
                            float: left;
                        }
                        a:hover {
                            color: #009926;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .header-img {
        display: block;
    }
}

.header-img {
    position: absolute;
    right: 0;
    top: 50px;
    width: 180px;
    height: 330px;
    font-size: 0;
}

.banner {
    width: 100%;
    height: 390px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    z-index: 200;
    ul {
        height: 100%;
        margin: 0 auto;
        min-width: 1190px;
        overflow: hidden;
        position: relative;
        width: 100%;
    }
    li {
        height: 100%;
        ;
    }
    .pic {
        li {
            position: absolute;
            width: 100%;
            display: none;
        }
    }
    .bncont {
        display: block;
        text-align: right;
        height: 100%;
        margin: 0 auto;
        position: relative;
        width: 1190px;
        overflow: hidden;
        .big {
            display: block;
            height: 100%;
            margin-left: 230px;
            text-align: left;
            img {
                width: 780px;
                height: 100%;
            }
        }
    }
    .tad {
        width: 180px;
        height: 60px;
        font-size: 0;
        position: absolute;
        right: 0;
        top: 330px;
        z-index: 1000;
        opacity: 0.9;
        a {
            display: inline-block;
            height: 60px;
            width: 90px;
            vertical-align: top;
            img {
                width: 100%;
                height: 100%;
                vertical-align: top;
            }
        }
    }
    .clist2 {
        width: 1190px;
        margin: 0 auto;
        position: relative;
        height: 0;
        .rect {
            position: absolute;
            left: 230px;
            top: -3px;
            height: 30px;
            width: 780px;
            min-width: 780px;
            li {
                width: 155px;
                float: left;
                text-align: center;
                height: 20px;
                background: #000;
                padding: 5px 0;
                border-right: 1px solid #666;
                background: rgba(0, 0, 0, 0.4);
                cursor: pointer;
                p {
                    span {
                        display: block;
                        color: #fff;
                        line-height: 20px;
                        height: 20px;
                        overflow: hidden;
                        font-size: 12px;
                    }
                }
            }
            .on {
                background: #009926;
            }
        }
        .rect:hover {
            top: -30px;
        }
    }
    .nextprev {
        height: 30px;
        margin: 0 auto;
        position: relative;
        width: 1190px;
        .bt {
            width: 30px;
            height: 60px;
            top: -224px;
            display: block;
            position: absolute;
            background-image: url(img/icons.png);
        }
        .prev {
            background-position: -348px -138px;
            left: 230px;
        }
        .next {
            background-position: -382px -138px;
            left: 980px;
        }
    }
}

.footer {
    margin-top: 0;
    min-width: 1190px;
    .navigation {
        padding: 20px 0;
        height: 135px;
        border-top: 1px solid #e8e8e8;
        background: #f4f4f4;
        dl {
            float: left;
            width: 146px;
            dt {
                color: #6a6a6a;
                font-size: 14px;
                line-height: 26px;
            }
            dd {
                font-size: 12px;
                margin-top: 6px;
                text-align: left;
                height: 26px;
                line-height: 26px;
                a {
                    display: block;
                    overflow: hidden;
                    color: #888;
                    text-align: left;
                    img {
                        border: 0;
                    }
                }
                a:hover {
                    color: #009926;
                    text-decoration: underline;
                }
            }
        }
        .service {
            width: 200px;
        }
        .qr {
            height: auto;
            img {
                height: 80px;
                width: 80px;
            }
        }
    }
    .mr20 {
        margin-right: 20px;
    }
    .last {
        width: 90px;
    }
    .txt-center {
        text-align: center!important;
    }
    .copyright {
        padding: 20px 0;
        height: 218px;
        background: #444a50;
        color: #959aa0;
        p {
            padding: 0 10px;
            color: #959aa0;
            padding: 8px 0;
            .first {
                padding-left: 0;
            }
            a {
                color: #959aa0;
                padding: 0 10px;
                font-size: 12px;
            }
            .mr {
                margin-right: 18px;
            }
            a:hover {
                text-decoration: underline;
            }
        }
        .white {
            line-height: 14px;
            height: 14px;
            padding: 8px 0;
            color: #959aa0;
            a {
                color: #fff;
            }
        }
        .zz {
            p {
                display: block;
                float: left;
                height: 20px;
                line-height: 20px;
            }
            .gaba {
                img {
                    float: left;
                    display: block;
                    width: 20px;
                    height: 20px;
                    vertical-align: middle;
                }
            }
            span {
                font-size: 12px;
                display: block;
                float: left;
                height: 20px;
                line-height: 20px;
            }
        }
        .copy {
            font-size: 12px;
        }
        .cert {
            margin-top: 10px;
        }
        .icon {
            float: left;
            margin-right: 10px;
            width: 100px;
            height: 40px;
            background: url(img/icon_rz.gif);
            line-height: 40px;
            a {
                display: block;
                width: 100px;
                height: 40px;
            }
        }
        .gs {
            background-position: 0 0;
        }
        .bj{
            background-position: 0 -40px;
        }
        .ba{
            background-position: 0 -80px;
        }
        .ls{
            background-position: 0 -120px;
        }
        .zx{
            background-position: 0 -160px;
        }
        .cx{
            background-position: 0 -200px;
        }
        .al{
            background-position: 0 -240px;
        }
        .sw{
            background-position: 0 -280px;
        }
        .rd{
            background-position: 0 -320px;
        }
        .font{
            margin-top: 5px;
            font-size: 12px;
        }
    }
}